# Database Configuration
AUTH_DB=auth
ORDER_DB=orders
MONGODB_URI=mongodb://username:password@localhost:27017
ORDER_MONGODB_URI=mongodb://username:password@localhost:27017
  
# Redis Configuration
REDIS_URL=redis://localhost:6379  // use container name if using docker, e.g., redis://redis:6379
REDIS_HOST=localhost // use container name if using docker, e.g., redis
REDIS_PORT=6379
REDIS_AUTH_DB=0
LOGS_DB=1
SHARED_DB=1

# Service URLs
AUTH_SERVICE_URL=http://localhost:3000  // use container name if using docker, e.g., http://auth-service:3000
ORDER_SERVICE_URL=http://localhost:3010  // use container name if using docker, e.g., http://order-service:3010
API_GATEWAY_PORT=4000  // use container name if using docker, e.g., 4000

# Token Configuration
ACCESS_TOKEN_EXPIRY=15m  
REFRESH_TOKEN_EXPIRY=7d

# JWT Security Keys (RSA)
# Paste your RSA Public/Private keys here
JWT_PUBLIC_KEY="your_public_key_here"
JWT_PRIVATE_KEY="your_private_key_here"